# This is an example configuration file.
# Keep this file as an example and make a working file with the following command:
#
#   cp .env.example .env
#
# You can edit the .env file with a command like: 
#
#   nano .env 
#
# The .env file is your personal configuration and is used by Docker.
# Uncomment and edit the lines to fit your needs

COMPOSE_PROFILES=wasp,monitoring,inx

# Uncomment the following line to enable the API endpoint for historical data of the legacy network.
# Legacy API will be available under localhost/api/core/v0
# You need to provide a legacy database under "data/database_legacy/". (Subfolders: "snapshot", "spent", "tangle")
# COMPOSE_PROFILES=${COMPOSE_PROFILES},history-legacy

# Uncomment the following line to enable the API endpoint for historical data of the chrysalis network.
# Chrysalis API will be available under localhost/api/core/v1
# You need to provide a chrysalis database under "data/database_chrysalis/". (Subfolders: "tangle", "utxo")
# COMPOSE_PROFILES=${COMPOSE_PROFILES},history-chrysalis

# Uncomment the following line to enable the explorer and its API endpoint.
# COMPOSE_PROFILES=${COMPOSE_PROFILES},explorer

# If needed you can change the port of the explorer. The default port is 8081 for the explorer and 4000 for the API.
# EXPLORER_PORT=8081

# If needed you can change the port of the evm-toolkit. The default port is 8082.
# EVM_TOOLKIT_PORT=8082

# The default port for the HTTP setup is 80. If you want to change that, uncomment the following line.
# HTTP_PORT=8080

# The default port for INX is 9029. If you want to change that, uncomment the following line.
# INX_PORT=9029